<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017933192927-1dhoqd28di5vtpu7rgueaej0bv1famhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017933192927-1dhoqd28di5vtpu7rgueaej0bv1famhk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1017933192927-mu7v3sg0lr0i79qcs9goqtduupv0fukg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBT_f5i7otsLmre-dNz7CgJ4rc3QixkzQI</string>
	<key>GCM_SENDER_ID</key>
	<string>1017933192927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.proyectogrupo09chemasla10</string>
	<key>PROJECT_ID</key>
	<string>chemasla10-92012</string>
	<key>STORAGE_BUCKET</key>
	<string>chemasla10-92012.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017933192927:ios:47cfa25612b8934b6b536a</string>
</dict>
</plist>